main {
  padding: 12px;
}

.listsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.list {
  height: 60px;
  width: calc(50% - 2px);
  display: flex;
  align-items: center;
  padding: 6px;
  cursor: pointer;
  border-radius: 6px;
}

.listIcon {
  height: 100%;
  aspect-ratio: 1;
  border-radius: 6px;
  overflow: hidden;
}

.listIcon img {
  height: 100%;
  object-fit: contain;
}

.listIcon svg {
  padding: 12px;
  --bgColor: #282828;
  background: var(--bgColor);
  fill: #fff;
}

.listName {
  margin-left: 12px;
  font-size: 0.95em;
  max-width: calc(100% - 60px);
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.songsListSection h3 {
  padding: 12px 0px;
  margin-top: 24px;
}

.songsList {
  padding: 6px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.song {
  height: 60px;
  border-radius: 6px;
  display: flex;
  padding: 6px;
  position: relative;
  cursor: pointer;
}

.song:nth-last-child(1) {
  margin-bottom: 116px;
}

.songImgCnt {
  height: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 6px;
}

.songImgCnt img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.songImgCnt img[alt*="Cover"] {
  font-size: 0.5em;
}

.songInfoCnt {
  width: calc(100% - 48px - 20px);
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.songTitle {
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  /*  */
  font-weight: 500;
}

.singerTitle {
  font-size: 0.75em;
  color: gray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.threeDotsClass {
  position: absolute;
  height: 100%;
  right: 6px;
  top: 0;
  align-content: center;
  padding: 6px;
}

.threeDotsClass svg {
  width: 5px;
}

@media (min-width: 768px) {
  header {
    position: sticky;
    top: 0;
    background: var(--backgroundColor);
    z-index: 1;
  }

  main {
    display: flex;
    flex-direction: row-reverse;
    padding: 48px 24px;
  }

  .listsSection {
    width: 40%;
    height: fit-content;
    position: sticky;
    top: calc(70px + 48px);

    min-height: calc(100vh - 70px - 48px - 48px);
    /* totalHeight - headerHeight - paddingTop - paddingBottom*/
    margin-left: 20px;
  }

  .listsContainer {
    flex-direction: column;
  }

  .list {
    width: 100%;
  }

  .songsListSection {
    width: 60%;
    border-right: 3px solid rgba(255, 255, 255, 0.25);
  }

  .songsListSection h3 {
    margin-top: unset;
  }

  .songsList {
    margin-right: 20px;
  }

  #fixedFooter,
  .currentPlayerCnt {
    max-width: calc(40% - 27px);
    right: 24px;
  }

  .footerSongActiveStyles {
    background: none;
    /* This will get styles from declared before*/
    backdrop-filter: none;
    /* This will get styles from declared before*/
  }

  .currentPlayerCnt {
    margin-left: unset;
    bottom: 78px;
  }

  /* CURRENT PLAYER STYLES */
  /*  */
  #currPlayerDisplaySection {
    transform: translate(0, 100%);
  }

  .currPlayerHeader {
    justify-content: right;
  }

  .currPlayerMiddleCnt,
  .currPlayerMenuCnt,
  .aboutArtistCnt {
    display: none;
  }

  /*  */

  .currPlayerSongCoverCnt {
    height: 50%;
    aspect-ratio: 1;
    position: absolute;
    bottom: calc(158px + 24px + 60px);
    left: 60px;
  }

  .currPlayerSongCoverCnt img {
    width: 100%;
  }

  /*  */
  .currPlayerControlsCnt {
    position: absolute;
    bottom: 12px;
    width: calc(100% - 24px);
    margin-bottom: 60px;
  }

  .controlsSongDetailsCnt {
    position: absolute;
    left: calc(60px - 12px + 50vh + 36px);
    top: calc(-96px - 12px - 32px);
    /*element height + that imageContainer bottom padding*/
  }

  .cdSongName {
    font-size: 3em;
    width: 38vw;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .cdSingerName {
    font-size: 1em;
  }

  .cdSongLikedIcon {
    display: none;
    /*this pending-----------------------------*/
  }

  .audioPlayPauseControlsCnt {
    width: fit-content;
    margin: auto;
    padding: 0 12px;
    gap: 24px;
  }

  .audioControlIcon {
    margin: 0;
  }

  .audioPlayPauseControlsCnt svg {
    height: 22px;
  }

  .smallSizeIcon svg {
    height: 18px;
  }

  .extraIcons {
    position: absolute;
    margin: unset;
    width: calc(100% - 24px);
    left: 12px;
    z-index: -1;
  }

  .extraIcons svg {
    height: 16px;
  }

  /*  */
  .currPlayerLyricsCnt {
    width: 340px;
    height: 40%;
    margin-left: auto;
    margin-top: 36px;
  }

  .currPlayerLyricsCntActive {
    width: 50%;
    margin-top: 0;
    border-radius: 12px;
    box-shadow: 0 0 12px -6px black;

    height: calc(100% - 126px - 60px - 12px) !important;
    top: 12px !important;
    right: 12px !important;
  }

  .lyricsCnt::-webkit-scrollbar {
    display: none !important;
  }

  .videoBackgroundActive {
    display: none;
  }

  .alert-container {
    left: unset;
    right: 24px;
    width: calc(40% - 27px);
    bottom: calc(78px + 58px + 2px);
  }
}

@media (min-width: 768px) and (max-height: 590px) {
  header {
    display: none;
  }

  main {
    padding: 12px;
  }

  .listsSection {
    width: 40%;
    height: fit-content;
    position: sticky;
    top: calc(70px + 48px);
    min-height: calc(100vh - 70px - 48px - 48px);
    margin-left: 20px;

    top: 12px;
  }

  #fixedFooter {
    display: none;
  }

  .currentPlayerCnt {
    bottom: 12px;
  }

  /*  */
  .currPlayerSongCoverCnt {
    height: 100%;
    width: 40%;
    top: 0;
    left: 0;
    padding: 24px;
  }

  .currPlayerControlsCnt {
    width: 60%;
    right: 0;
    margin-bottom: 0;
    padding: 12px 36px;
  }

  .currPlayerHeader {
    z-index: 1;
    position: inherit;
    right: 12px;
  }

  .controlsSongDetailsCnt {
    position: unset;
  }

  .controlsSongDetailsCnt div {
    width: 100%;
  }

  .cdSongName {
    width: 100%;
  }

  /*  */
  .currPlayerLyricsCnt {
    height: 60px;
    width: 140px;
    margin-top: 60px;
    z-index: 1;
    position: absolute;
    right: 12px;
    bottom: calc(0px + 62px + 52px);
    scale: 0.8;
  }

  .currPlayerLyricsCntActive {
    /* height: calc(100% - 62px - 64px - 24px) !important; */
    height: calc(100% - 24px) !important;
    width: 40% !important;
    top: 12px !important;
    margin-top: 0 !important;
    scale: 1 !important;
    left: 12px !important;
    margin: 0 !important;
  }

  .currPlayerLyricsCnt h3 {
    display: none;
  }

  .fullScreenLyricsBtn {
    margin-top: -16px;
  }
}

@media (max-width: 767px) and (max-height: 389px) {
  header {
    display: none;
  }

  .currPlayerDisplaySectionActive {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .currPlayerHeader {
    width: 100%;
    justify-content: right;
  }

  .currPlayerMiddleCnt,
  .currPlayerMenuCnt {
    display: none;
  }

  .currPlayerSongCoverCnt {
    width: 40%;
    height: calc(100% - 50px);
    overflow: hidden;
  }

  .currPlayerControlsCnt {
    width: 60%;
    margin-top: auto;
    margin-bottom: 12px;
  }

  .extraIcons {
    display: none;
  }

  .currPlayerLyricsCnt,
  .aboutArtistCnt {
    width: calc(50% - 12px);
    margin: 0;
    margin-right: 12px;

    display: none !important;
  }

  .currPlayerLyricsCntActive {
    width: 100%;
  }
}