html,
body {
    width:100%;
    height:100%;
    overflow:hidden;
    margin:0;
}

html.no-scroll,
body.no-scroll{
    overflow:hidden;
    height:100%;
    position:fixed;
    width:100%;
}

.loader{
    position:absolute;
    inset:0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    z-index:100;
}

.thumbnail{
    width:min(430px,85vw);
    height:min(240px,48vw);
    object-fit:cover;
    border-radius:22px;
    border:1px solid rgba(255,255,255,.08);
    box-shadow:
        0 20px 40px rgba(0,0,0,.35);
}

.loader h1{
    margin-top:28px;
    font-size:42px;
    font-weight:700;
}

.loading-text{
    margin-top:14px;
    color:#bdbdbd;
    font-size:16px;
}

.loading-bar{
    margin-bottom: 40px;
    margin-top:20px;
    width:280px;
    height:6px;
    background:rgba(255,255,255,.08);
    border-radius:999px;
    overflow:hidden;
}

.loading-fill{
    width:40%;
    height:100%;
    background:#C93131;
    border-radius:999px;
    animation:loading 1.5s linear infinite;
}

@keyframes loading{

    from{
        transform:translateX(-250%);
    }

    to{
        transform:translateX(700%);
    }

}

.background{
    position:fixed;
    inset:0;
    z-index:-2;
    overflow:hidden;
}

.background video{
    width:100%;
    height:100%;
    object-fit:cover;

    filter:
        blur(23px)
        brightness(.18)
        saturate(1.1);
    transform:scale(1.15);
}

.background-overlay{
    position:absolute;
    inset:0;
    background:
        linear-gradient(
            rgba(17,17,17,.35),
            rgba(17,17,17,.55)
        );
    backdrop-filter:blur(2px);
}

.game-container {
    position:fixed;
    inset:0;
    width:100vw;
    height:100vh;
    opacity:0;
    pointer-events:none;
    transition:opacity .3s ease;
}

.game-container.loaded {
    opacity:1;
    pointer-events:auto;
}

#gameFrame {
    width:100%;
    height:100%;
    border:none;
}

.fullscreen-btn{
    position:absolute;
    top:16px;
    right:16px;
    width:46px;
    height:46px;
    display:flex;
    align-items:center;
    justify-content:center;
    border:none;
    border-radius:14px;
    background:rgba(20,20,20,.35);
    backdrop-filter:blur(14px);
    -webkit-backdrop-filter:blur(14px);
    border:1px solid rgba(255,255,255,.12);
    color:#fff;
    cursor:pointer;
    transition:.25s;
    z-index:10;
}

.fullscreen-btn i{
    font-size:24px;
}

.fullscreen-btn:hover{
    background:rgba(37, 37, 37, 0.35);
}

.fullscreen-btn:active{
    transform:scale(.95);
}

:focus {
  outline: none; 
  box-shadow: none; 
}

:focus-visible {
  outline: 3px solid #C93131; 
}

@media (max-width: 768px) {
    .game-container.mobile-fullscreen {
        position: fixed;
        inset: 0;
        width: 100vw;
        height: 100dvh;
        z-index: 99999;
        background: #000;
    }

    .game-container.mobile-fullscreen iframe {
        width: 100%;
        height: 100%;
    }
}