*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{
    height:100vh;
    background:white;
    font-family:Arial,sans-serif;
    overflow:hidden;
}



header{

    height:47px;

    display:flex;
    align-items:center;
    justify-content:space-between;

    padding:0 15px;

    border-bottom:1px solid #ddd;

    background:white;

}



h1{
    font-size:22px;
}



.buttons{

    height:100%;

    display:flex;

}



.buttons button{

    height:100%;

    width:74px;

    border:none;

    border-left:1px solid #ddd;

    background:white;

    color:#111;

    cursor:pointer;

    font-size:13px;

    transition:0.2s ease;

}



.buttons button:hover{

    background:#eeeeee;
    color:#111;

}


#clear:hover{

    background:#dc2626;
    color:white;

}



main{

    display:flex;

    height:calc(100vh - 45px);

}



.editor{

    width:50%;

    background:#fff;

    border-right:1px solid #ddd;

}



.tabs{

    height:35px;

    display:flex;

    background:#fff;

    border-bottom:1px solid #ddd;

}



.tab{

    flex:1;

    border:none;

    background:#fff;

    color:#333;

    cursor:pointer;

    font-size:13px;

    transition:background 0.20s ease, color 0.20s ease;

}



.tab:hover{

    background:#eeeeee;
    color:#111;

}



.tab.active{

    background:#fff;

    color:#2563eb;

    border-bottom:2px solid #2563eb;

}



.CodeMirror{

    height:calc(100vh - 80px);

    background:#fff;

    color:#111;

    font-size:14px;

}



.CodeMirror-gutters{

    background:#fff;

    border-right:1px solid #ddd;

}


.CodeMirror-linenumber{

    color:#999;

}


.CodeMirror-cursor{

    border-left:2px solid #2563eb;

}



.preview{

    width:50%;

    background:white;

}



iframe{

    width:100%;

    height:100%;

    border:none;

}